= link_to "Delete #{@user.username}'s account" , @user, confirm: 'Are you sure?', method: :delete
= simple_form_for @user do |f|
  = f.input :email
  %br/
  = f.input :username
  %br/
  = f.input :first_name
  %br/
  = f.input :last_name
  %br/
  = f.association :roles, :as => :check_boxes
  %br/
  = f.button :submit
= link_to "Delete #{@user.username}'s account" , @user, confirm: 'Are you sure?', method: :delete